.rubrik {
  color: #319915;
  font-size: 36px;
}

.stycke {
  color: #f2f21c;
  background-color: #00FF00;
}

.inledning {
  font-size: 24px;
}

body {
  background-image: url("../bilder/server_bakgrund.png");
background-repeat: no-repeat;
background-size: 100% 1700px;
}

img {

}
.text { font-size: 14px;}
.underrubrik {color: Brown;
font-size: 25px; }
.litenbild img {
  width: 300px;
  margin-bottom: 10px;
  border: solid black 10px;
}
.litenbild figcaption {
  font-size: 14px;
}


.bildtext

.Bfavoritfargbakrund{clolor: #730fe6}
